h2 {
    color: aqua;
}

h3 {
    color: red;
}
div div img {
    border-radius: 5%;
    
}
.h {
    border-radius: 10%;
}
div  {

    
    .f{
        display: flex;
        justify-content: space-around;
        p {
            color: blueviolet;
            max-width: 100%;
        } 
        

        }
    }

